*.py[cod]

build/
dist/
develop-eggs/

# logs
pip-log.txt
pip-delete-this-directory.txt

bower/

node_modules/


requirements-dev.pip
requirements.pip

dockers/
develop-eggs/
eggs/
parts/
bin/
buildout.cfg
db.sqlite3
fig.yml


requirements.pip
requirements-dev.pip

bower_components

templates
_static
static
_build