footer.container.footer(role='contentinfo')
  .row
    .col-sm-12.text-center.col-sm-push-0
      a(href='#') 关于
      |     · 
      a(href='#') 在 Log 工作
      |     · 
      a(href='#') 联系我们
      |     · 
      a(href='#') 免责声明
      |     · 
      a(href='#') 帮助中心
      |     · 
      a(href='#') 开发者
      |     · 
      a(href='#') 移动应用
      |     · 
      a(href='#') 广告

    .col-sm-12.text-center.col-sm-pull-0
      span
        | © 2015 log.com, all rights reserved

include ./browser_sync
