
meta(charset="utf-8")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", value= pkgInfo.description)
meta(name="keywords", value= pkgInfo.keywords)
meta(name="version", value= pkgInfo.version)
meta(name="update", value= updateTime)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="shortcut icon" href= makeHash("/images/favicon.ico"))